*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
}

h1{
    font-family: 'Bangers';
}

h3,h4{
    font-family: rockwell;
}

p{
    font-family: Tahoma;
}

.wrapper{
}

#particles-js{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 1;
}


.container{
    background-image: url('./images/bg.jpg');
    background-size: 100% 100%;
    padding-top: 2rem; 
    z-index: 2;
}

.heading{
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}

.heading h1 span{
    color: rgb(54, 25, 82);
    font-size: 3.5rem;
    font-family: hobo std;
    
}

.heading h3{
    color: rgb(184, 184, 184);
    font-family: overspray;
    letter-spacing: 0.5rem;
}

.content{
    width: 80%;
    margin: auto;
    background-color: rgb(51, 51, 51);
    box-shadow:;
}

.content .intro img{
    width: 100%;
}

.intro .top{
    background-color: white;
    padding: 2rem 6rem;
    text-align: center;
}

.intro .top hr{
    width: 5rem;
    margin: 1rem auto;
    color: rgb(175, 175, 175);    
}

.intro .top h3{
    color: rgb(156, 155, 155); 
    font-weight: 100;
}

.content .intro .bottom{
    width: 100%;
    background-color:rgb(235, 235, 235);
    padding: 5rem;
    font-size: 1rem;
    color: gray;
    word-spacing: 5px;
    
}



.section2{
    background-color: black;
    width: 80%;
    margin: auto;
}

.section2c{
    margin: 5rem 0;
}

.fimg{
    display: grid;
    grid-template-columns: auto auto;
}

.section2 .fimg img{
    display: block;
    width: 100%;
    height: 20rem;
}




.section2 .about{
    padding : 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.section2 .about hr{
    width: 5rem;
    margin: 1rem auto;
    color: gray;
}


.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.cards:nth-child(even) img{
    order: 2;
}

.cards:nth-child(even){
    background-color: #fff;
    color: black;
}

.cards:nth-child(odd){
    background-color: rgb(48, 48, 56);
    color: white;
}

.cards img{
    width: 100%;
    height: 100%;
}

.cards{
    min-height: 25rem;
    text-align: center;
}

.cards div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 5rem
}

.cards div h1{
    margin: 2rem;
}

.cards div h4{
    font-weight: 300;
}

footer{
    background-color: black;
    color : white;
    width: 80%;
    margin: auto;
    background: transparent;
    padding: 5rem;
    text-align: center;
}

footer .iconss{
    width: 60%;
    font-size: 1.4rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconss i{
    color: black;
    font-weight: 100;
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.iconss i:hover{
    background-color: z;
    color:black;
}

@media screen and (max-width:1100px){
    .cards{
        display: block;
    }

    .fimg{
        display: block;
    }

    .section2{
        width: 100%;
    }

    .content .intro .bottom{
        width: 100%;
        background-color:rgb(235, 235, 235);
        padding: 2.5rem;
        font-size: 1rem;
        color: gray;
        word-spacing: 5px;
        
    }

    footer .iconss{
        width: 115%;
    }

    h1{
        font-size: 1.5rem;
    }

    h3{
        font-size: 0.8rem;
    }

    .heading h1 span{
        font-size: 2.5rem;
    }

    .cards div{
        padding: 3rem;
    }

    .section2,.section3,.container{
        overflow-x: hidden;
    }

}

